.container {
    border: 5px solid #ffcc5c;
    display: flex;
    height: 100%; /* dikeyde butun sayfayi kaplatiyor*/
    align-items: center;
    /*justify-content: center;*/
}

.container > .home {
   align-self: flex-start;
}
.container > div {
    flex: 1; /* yeni eklenecekler de dahil tum elemanlara esit alan verip yerlestirir */
}
/* flex yapinca itemlar da interactive oluyo buyuyo kuculuyor*/
.container > .search {  /* direkt .search yazsan calismiyor*/
    flex: none;
}

html, body {
    background-color: #ffeead;
    margin: 10px;
}

.container > div:nth-child(1) { background-color: #96ceb4;}
.container > div:nth-child(2) { background-color: #ff6f69;}
.container > div:nth-child(4) { background-color: #ff6f69;}
.container > div:nth-child(3) { background-color: #88d8b0;}